<div class="todo-task flex-child-div">
  <div class="check-mark-div">
    {{check-box todo=todo complete="complete"}}
  </div>
  <div class="task-div">
    <div class="w-richtext">
      {{#if editing}}
        {{input class="w-input" type="text" autofocus="autofocus" value=todo.text}}
      {{else}}
        <span class="text">{{todo.text}}</span>
      {{/if}}
    </div>
  </div>

  {{#unless todo.completed}}
    {{#if editing}}
      <div class="action">
        <i class="fa fa-save fa-2x link" {{action "update" todo}}></i>
      </div>
    {{else}}
      {{#if showAction}}
        <div class="action">
          <i class="fa fa-pencil fa-2x link" {{action "edit"}}></i>
        </div>
      {{/if}}
    {{/if}}
  {{/unless}}

  {{#if (if-or editing todo.completed) }}
    <div class="action multiple delete">
      <i title="Delete" class="fa fa-trash fa-2x action" {{action "delete" todo}}></i>
    </div>
  {{/if}}

</div>