<div class="todo-task flex-child">
  <div class="action">
    {{check-box todo=todo complete="complete"}}
  </div>
  <div class="text">
    {{#if editing}}
      {{input type="text" autofocus="autofocus" value=todo.text}}
    {{else}}
      <span>{{todo.text}}</span>
    {{/if}}
  </div>

  {{#unless todo.completed}}
    {{#if editing}}
      <div class="action">
        <i class="fa fa-save fa-2x link" {{action "update" todo}}></i>
      </div>
    {{else}}
      {{#if showAction}}
        <div class="action">
          <i class="fa fa-pencil fa-2x link" {{action "edit"}}></i>
        </div>
      {{/if}}
    {{/if}}
  {{/unless}}

  {{#if (if-or editing todo.completed) }}
    {{#if showAction}}
      <div class="action  delete">
        <i title="Delete" class="fa fa-trash fa-2x" {{action "delete" todo}}></i>
      </div>
    {{/if}}
  {{/if}}

</div>