<div class="box resend">
  <div class="content">
    <div class="form">
      <h1>Change Password</h1>
      <form>

        {{#if errors.general}}
          {{#warning-message}}{{errors.general}}{{/warning-message}}
        {{/if}}

        {{input type="hidden" value=changeVerificationId}}

        {{#focus-input}}
          {{#if errors.password}}
            <div class="errors">{{errors.password}}</div>
            {{input class="errors" type="password" placeholder="Type your password" value=password}}
          {{else}}
            {{input type="password" placeholder="Type your password" value=password}}
          {{/if}}
        {{/focus-input}}

        {{#if errors.password_confirm}}
          <div class="errors">{{errors.password_confirm}}</div>
          {{input class="errors" type="password" placeholder="Confirm your password" value=confirm_password}}
        {{else}}
          {{input type="password" placeholder="Confirm your password" value=confirm_password}}
        {{/if}}

        <button class="login-button" {{action "submit"}}>Submit</button>
        {{#if errors.general}}
          <p>{{link-to "Forgot password?" "forgot-password"}}</p>
        {{/if}}
      </form>
    </div>
  </div>
</div>