<div class="box">
  <div class="content">
    <div class="form">
      <h1>Forgot Password</h1>
      <form>

        {{#if errors.general}}
          {{#warning-message}}{{errors.general}}{{/warning-message}}
        {{/if}}

        {{#focus-input}}
          {{#if errors.email}}
            <div class="errors">{{errors.email}}</div>
            {{input class="errors" type="text" autofocus="autofocus" placeholder="example@email.com" value=email}}
          {{else}}
            {{input type="text" autofocus="autofocus" placeholder="example@email.com" value=email}}
          {{/if}}
        {{/focus-input}}

        <button class="login-button" {{action "submit"}}>Send  Reset Request</button>
      </form>

      <button class="register-button" {{action "back"}}>Back to Login</button>
    </div>
  </div>
</div>