{{#content-main}}
  {{content-header}}

  <div class="login">
    <div class="content">
      <div class="form">
        <h1>Ha<span class="code-tag"><span>&#x221f;</span><span>&#x002f;</span><span>&#x221f;</span></span>ers Welcome!</h1>
        <p>We dare you to try to hack Passport's user database.</p>
        <form id="email-form" name="email-form" data-name="Email Form">
          {{#if errors.general}}
            {{#warning-message}}{{errors.general}}{{/warning-message}}
          {{/if}}

          {{#if registered-successfully}}
            {{#information-message}}
              You have been registered successfully. Before you may login you'll need to verify your email. Check your inbox.
            {{/information-message}}
          {{/if}}

          {{#if errors.email}}
            <div class="errors">{{errors.email}}</div>
            {{input id="email" class="errors" type="text" placeholder="Email" autofocus="autofocus" value=email}}
          {{else}}
            {{input id="email" type="text" placeholder="Email" autofocus="autofocus" value=email}}
          {{/if}}

          {{#if errors.password}}
            <div class="errors">{{errors.password}}</div>
            {{input id="password" class="errors" type="password" placeholder="Password" value=password}}
          {{else}}
            {{input id="password" type="password" placeholder="Password" value=password}}
          {{/if}}

          <button class="login-button" {{action "login"}}>Login</button>
        </form>

        <button class="register-button" {{action "register"}}>Register</button>
      </div>

    </div>
  </div>

{{/content-main}}