<div class="login-div">
    <div class="form-div">
        <h1 class="h1-pp">
            Ha<span class="xml-container"><span class="xml-tag less-than">&#x221f;</span><span class="xml-tag larger">&#x002f;</span><span class="xml-tag greater-than">&#x221f;</span></span>ers Welcome!
        </h1>
        <p class="paragraph-pp">We dare you to try to hack Passport's user database.</p>
        <div class="w-form w-clearfix form-wrapper">
            <form id="email-form" name="email-form" data-name="Email Form">
              {{#if errors.general}}
                  <div>{{errors.general}}</div>
              {{/if}}

              {{#if errors.email}}
                  <div class="errors">{{errors.email}}</div>
                {{input id="email" class="w-input errors" type="text" placeholder="example@email.com" autofocus="autofocus" value=email}}
              {{else}}
                {{input id="email" class="w-input" type="text" placeholder="example@email.com" autofocus="autofocus" value=email}}
              {{/if}}

              {{#if errors.password}}
                  <div class="errors">{{errors.password}}</div>
                {{input id="password errors" class="w-input" type="password" placeholder="password" value=password}}
              {{else}}
                {{input id="password" class="w-input" type="password" placeholder="password" value=password}}
              {{/if}}

              <button id="login" class="w-button login-register-button" {{action "login"}}>Login</button>
              <button id="register" class="w-button login-register-button green" {{action "register"}}>Register</button>
            </form>
        </div>
    </div>
</div>

