<div class="box">
  <div class="content">
    <div class="form">
      <h1>Ha<span class="code-tag"><span>&#x221f;</span><span>&#x002f;</span><span>&#x221f;</span></span>ers Welcome!</h1>
      <p>We dare you to try to hack Passport's user database.</p>
      <form>
        {{#if errors.general}}
          {{#warning-message}}{{errors.general}}{{/warning-message}}
        {{/if}}

        {{#if info.registered-successfully}}
          {{#information-message}}
            You have been registered successfully. Before you may login you'll need to verify your email. Check your inbox.
          {{/information-message}}
        {{/if}}

        {{#if info.verificationSent}}
          {{#information-message}}
            A verification email was successfully sent. Before you may login you'll need to verify your email.
          {{/information-message}}
        {{/if}}

        {{#if info.resetRequestSent}}
          {{#information-message}}
            A forgot password request email was successfully sent. Follow the link provided in your inbox to change your password.
          {{/information-message}}
        {{/if}}

        {{#if info.passwordChanged}}
          {{#information-message}}
            Your password has been changed successfully.
          {{/information-message}}
        {{/if}}

        {{#focus-input}}
          {{#if errors.email}}
            <div class="errors">{{errors.email}}</div>
            {{input id="email" class="errors" type="text" placeholder="Email" autofocus="autofocus" value=email}}
          {{else}}
            {{input id="email" type="text" placeholder="Email" autofocus="autofocus" value=email}}
          {{/if}}
        {{/focus-input}}

        {{#if errors.password}}
          <div class="errors">{{errors.password}}</div>
          {{input id="password" class="errors" type="password" placeholder="Password" value=password}}
        {{else}}
          {{input id="password" type="password" placeholder="Password" value=password}}
        {{/if}}

        <button class="login-button" {{action "login"}}>Login</button>
        {{#if info.showResendLink}}
          {{link-to "Click here to resend the verification email." "resend" class="resend" }}
        {{else}}
          <p>
            {{link-to "Forgot password?" "forgot-password"}}
          </p>
        {{/if}}

      </form>

      <button class="register-button" {{action "register"}}>Register</button>
    </div>

  </div>
</div>