<div class="form-div">
    <div class="w-form w-clearfix form-wrapper">
        <form id="email-form" name="email-form" data-name="Email Form">
          {{#if errors.general}}
              <div>{{errors.general}}</div>
          {{/if}}
          {{input class="w-input" type="text" placeholder="First Name" autofocus="autofocus" value=first_name}}
          {{#if errors.first_name}}
              <div>{{errors.first_name}}</div>
          {{/if}}
          {{input class="w-input" type="text" placeholder="Last Name" value=last_name}}
          {{#if errors.last_name}}
              <div>{{errors.last_name}}</div>
          {{/if}}
          {{input class="w-input" type="text" placeholder="example@email.com" value=email}}
          {{#if errors.email}}
              <div>{{errors.email}}</div>
          {{/if}}
          {{input class="w-input" type="password" placeholder="password" value=password}}
          {{#if errors.password}}
              <div>{{errors.password}}</div>
          {{/if}}
          {{input class="w-input" type="password" placeholder="confirm password" value=confirm_password}}
          {{#if errors.password_confirm}}
              <div>{{errors.password_confirm}}</div>
          {{/if}}

          <button class="w-button login-register-button" {{action "register"}}>Register</button>
          <button class="w-button login-register-button green" {{action "back"}}>Back</button>
        </form>
    </div>
</div>
